:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --brightfuckingred: #ff002b;
    --silverChalice: #b1a7a6;
    --lightGray: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
   
}

/*fix for screen sizes */
@media (min-height:640px), screen and (orientation:portrait) {
  section {
    background-attachment:initial;
  }
  div{position:relative;}
}

*,
*::before,
*::after {
 box-sizing:border-box;
}

body:not(.loaded) #sliderShow img {
  display:none;
}
body{
  overflow-x:hidden;
  font-family:Verdana, Tahoma, sans-serif;
  color: var(--cutltured);
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  margin:0px;
  padding:0px;
  width: 100%;
  height: 100vh;
}
#slideShow{
overflow-x:hidden;
background-attachment: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
width:100%;
height: 100%;
background-size: cover;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-webkit-animation: slideShow 15s linear infinite;
-moz-animation: slideShow 15s linear infinite;
-o-animation: slideShow 15s linear infinite;
animation: slideShow 15s linear infinite;
animation-timing-function: ease-in-out;
background-image: url(..img/work/1.jpg), url(../img/work/1.jpg);
}
  @keyframes slideShow{
    0% {
      background-image: url(../img/work/1.jpg), url(../img/work/1.jpg)
    }
    10%{
      background-image: url(../img/work/1.jpg), url(../img/work/19.jpg)
    }
    30%{
      background-image: url(../img/work/19.jpg), url(../img/work/48.jpg)
    }
    40%{
      background-image: url(../img/work/48.jpg), url(../img/work/53.jpg)
    }
    50% {
      background-image: url(../img/work/53.jpg), url(../img/work/12.JPG)
    }
    60% {
      background-image: url(../img/work/61.JPG), url(../img/work/54.JPG)
    }
    70% {
      background-image: url(../img/work/54.JPG), url(../img/work/1.jpg)
    }
  }


.wrapper {
  margin-right: 20px;
  margin-left:  20px;
  max-width: 100%;
  max-height: 100%;
  right:0;
  left:0;
  padding-right: 1px;
  padding-left:  1px;
  padding-top: 20px
  }
h1{
    color:var(--richBlack);
}
/* navbar */
.navbar{
  padding: 0 40px;
  max-width: auto;
  background: var(--mainWhite);
  transition:all .2s ease-in-out;
}



.navbar-brand { 
  overflow: visible;
  width: 20px;
  flex-grow: .25;
  float: right;
}
.navbar-brand>img {
  max-height: 40px;
  max-width: 40px;
  float: right;
}

.navbar-brand:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(150%);
}

.navbar-brand-text {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .80em;
  letter-spacing: 2px;
  margin-bottom: .25em;
  color: var(--cutltured);
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
}
  
}
.navbar-brand-text:after {
  position: absolute;
  color: var(--cutltured);
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.05s;
  transform: scaleX(0);
  transform-origin: top;
}

.navbar-brand-text:hover {
  text-decoration-color: var(--brightfuckingred);
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}

.nav-bar-brand-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: var(--cutltured,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 1rem;
  background: var(--cutltured,0.4);
  z-index: 100;

}
.navbar-icon{
  font-size: 1.25em;
  color: var(--cutltured);
}
.navbar-nav {
  padding-right: 30px;
}
.navbar-toggler{
  color: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.nvabar-toggler-icon:focus {
  box-shadow:none;
}
.nav-item{
  text-align: center;
}
.nav-item:focus,
.nav-item:active {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: .55em;
  padding: 4px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
}

.nav-link:after {
  position: absolute;
  color: var(--cutltured);
  content: "";
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.1s;
  transform: scaleX(0);
  transform-origin: top;
}
.nav-link:hover{
  text-decoration-color: var(--brightfuckingred);
  color: var(--cutltured);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.nav-icon{
  float:inherit;
  font-size: 1.5rem;
  color: var(--cutltured);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0ms;
  transition-timing-function: linear;
}
.nav-icon:hover, .nav-icon:after {
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}

.featurefbhref>img{
    max-height: 40px;
    max-width: 40px;
    float: center;
}

.footerCerakotehref>img{
  max-height: 200px;
  max-width: 240px;
  float: center;
}
