:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --silverChalice: #b1a7a6;
    --lightGray: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
   
}
@font-face {
  font-family: 'post-grotesk';
  /* IE9 Compat Modes */src:url("/fonts/postGrotesk/PostGroteskMedium.otf");
  /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS *//* Legacy iOS */src:url("/fonts/postGrotesk/PostGroteskMedium.otf?#iefix") format('embedded-opentype'),
  url("/fonts/post-grotesk/PostGrotesk-Medium.woff") format('woff'),
  url("/fonts/post-grotesk/PostGrotesk-Medium.ttf") format('truetype'),
  url("/fonts/post-grotesk/PostGrotesk-Medium.svg#svgFontName") format('svg');
  font-weight:500;
  font-style:normal;
 }
*,
*::before,
*::after {
 box-sizing:border-box;
}

body:not(.loaded) #sliderShow img {
  display:none;
}
body{
  overflow-x:hidden;
  font-family:Verdana, Tahoma, sans-serif;
  color: var(--cutltured);
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  margin:0px;
  padding:0px;
  width: 100%;
  height: 100vh;
}
#slideShow{
overflow-x:hidden;
background-attachment: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
width:100%;
height: 100%;
background-size: cover;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-webkit-animation: slideShow 15s linear infinite;
-moz-animation: slideShow 15s linear infinite;
-o-animation: slideShow 15s linear infinite;
animation: slideShow 15s linear infinite;
animation-timing-function: ease-in-out;
background-image: url("../img/work/1.jpg");
}
  @keyframes slideShow{
    0% {
      background-image: url("../img/work/1.jpg"), url("../img/work/1.jpg")
    }
    10%{
      background-image: url("../img/work/1.jpg"), url("../img/work/19.jpg")
    }
    30%{
      background-image: url("../img/work/19.jpg"), url("../img/work/48.jpg")
    }
    40%{
      background-image: url("../img/work/48.jpg"), url("../img/work/53.jpg")
    }
    50% {
      background-image: url("../img/work/53.jpg"), url("../img/work/12.JPG")
    }
    60% {
      background-image: url("../img/work/12.JPG"), url("../img/work/34.JPG")
    }
    70% {
      background-image: url("../img/work/34.JPG"), url("../img/work/1.jpg")
    }
  }
#wrapper {
  margin-right: 20px;
  margin-left:  20px;
  max-width: 100%;
  max-height: 100%;
  right:0;
  left:0;
  padding-right: 1px;
  padding-left:  1px;

  }
h1{
    color:var(--richBlack)
}
/* navbar */
.navbar{
  padding-top: 2em;
  margin-left:1em;
  margin-right:2em;
  background: var(--mainWhite);
  transition:all .2s ease-in-out;
;}

/* fix for screen sizes
@media (min-height:680px), screen and (orientation:portrait) {
  div{position:relative;}
}

*/

.navbar-brand { 
  overflow: visible;
}
.navbar-brand>img {
  max-height: 50px;
  max-width: 50px; 
}
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: var(--cutltured,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 1rem;
  background: var(--cutltured,0.4);
  z-index: 100;

}
.navbar-icon{
  font-size: 1.25em;
  color: var(--cutltured);

}
.navbar-nav {
  padding-right: 30px;
}
.navbar-toggler{
  color: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.nvabar-toggler-icon:focus {
  box-shadow:none;
}
.nav-item{
  text-align: center;
}
.nav-item:focus,
.nav-item:active {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  font-family:sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: .70em;
  padding: 1px 1px;
  margin: 10px 10px;

}

.nav-link{
  color: var(--cutltured);
  text-transform: capitalize;
}
.nav-link:hover{
  color: var(--mainBlue);
}
.nav-icon{
  float:inherit;
  font-size: 1.5rem;
  color: var(--cutltured);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0ms;
  transition-timing-function: linear;
}
.nav-icon:hover{
  color: var(--mainBlack);
}