:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --greyBlack: #222222;
    --grey: #4d4d4d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --brightfuckingred: #ff002b;
    --silverChalice: #b1a7a6;
    --lightGrey: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Fanwood+Text:ital@0;1&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
 box-sizing:border-box;
}

body{
overflow-x:hidden;
margin:0;
padding:0;
width: 100%;
background-attachment: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center center;
background-size: cover;
-webkit-animation: slideShows ease-in-out 25s both infinite;
-moz-animation: slideShows ease-in-out 25s both infinite;
-o-animation: slideShows ease-in-out 25s both infinite;
animation: slideShows ease-in-out 25s both infinite;
background-repeat: no-repeat;
background-image: url(../img/work/19.jpg), url(../img/work/19.jpg);
}
@keyframes slideShows{
    0% {
      background-image: url(../img/work/19.jpg), url(../img/work/19.jpg)
    }
    10%{
      background-image: url(../img/work/19.jpg), url(../img/work/4.jpg)
    }
    30%{
      background-image: url(../img/work/4.jpg), url(../img/work/71.jpg)
    }
    40%{
      background-image: url(../img/work/71.jpg), url(../img/work/55.jpg)
    }
    50% {
      background-image: url(../img/work/55.jpg), url(../img/work/69.jpg)
    }
    70% {
      background-image: url(../img/work/69.jpg), url(../img/work/19.jpg)
    }
    100% {
      background-image: url(../img/work/19.jpg), url(../img/work/19.jpg)
    }
  }
#header {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  padding-top: 100px;
  z-index: 99;
}
#header.visiblebg {
  background-color: #222 !important;
}
.container-fluid.height.visiblebg {
  height: 100%;
}
.container-fluid {
  display:inline-block;
  width: 100%;
  opacity: 1;
  background-color:rgba(0,0,0,0);
}
.container-fluid.visiblebg {
  background-color: #222;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 100%;
}
nav.navbar {
  margin: auto;
  background-color:rgba(0,0,0,0);
  max-width: 1320px;
  padding-top: 30px;
}
.navbar-brand { 
  float: left;
}
.navbar-brand>img {
  max-height: 6.5vh;
  max-width: 6.5vh;
}

.navbar-brand:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(150%);
}

.navbar-brand-text {
  font-size: 1.4em;
  letter-spacing: 3px;
  color: var(--cutltured);
  position: relative;
  text-decoration: none;
  font-weight: 365;
  text-transform: capitalize;
}
  

.navbar-brand-text:after {
  position: absolute;
  color: var(--cutltured);
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.05s;
  transform: scaleX(0);
  transform-origin: top;
}
.navbar-nav {
  margin-right: 40px;
}
.navbar-brand-text:hover {
  text-decoration-color: var(--brightfuckingred);
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}
.nav-bar-brand-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
.navbar.transparent.navbar-inverse, 
.navbar-inner {
  background: var(--cutltured,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 0rem;
  background: var(--cutltured,0.4);
}
.navbar-icon{
  font-size: 1.25em;
  color: var(--cutltured);
}
.navbar-toggler{
  color: none;
  width: 1px;
  height: 1px;
  position: relative;
  transition: .5s ease-in-out;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.nvabar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding:0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--cutltured);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: roatate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
.toggled {
  float: right;
}
/* when nav is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
/* navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -8px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 8px;
  transform: rotate(0deg);
}
.nav-item{
  text-align: center;
}
.nav-item:focus,
.nav-item:active {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  font-weight: 150;
  letter-spacing: 2px;
  font-size: .9em;
  padding: 4px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
}
.nav-link:after {
  position: absolute;
  color: var(--cutltured);
  content: "";
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.1s;
  transform: scaleX(0);
  transform-origin: top;
}
.nav-link:hover{
  text-decoration-color: var(--brightfuckingred);
  color: var(--cutltured);
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.nav-icon{
  font-size: 1.5rem;
  padding: 3px;
  color: var(--cutltured);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0ms;
  transition-timing-function: linear;
}
.nav-icon:hover, .nav-icon:after {
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}
.jumbotron {
  padding-top: 3.8em;
  color: var(--cutltured);
  max-width: 1320px;
  margin:auto;
}
.jumbotron .container-xxl,.jumbotron h1 {
  padding-top: 47vh;
  color:var(--cutltured);
  font-family: 'Merriweather', serif;
  font-size: 2em;
 }
 .jumbotron .list {
   text-align:left;
 }
 .container-fluid h1, h2, p{
  opacity: 0;
 }
 .jumbotron h2 {
  font-size: 1.7em;
 }
 .jumbotron p {
   max-width: 575px;
   margin-left: 10vh;
   font-size: .70em;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
 }

#features {
  opacity: 0;
  margin-top: 1vh;
}

.bulletHover{
  width: 10px;
  background: #4e4e4e;
  border-radius: 10px;
  -webkit-transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  -o-transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.feature .card {
  justify-content:unset;
  background-color: var(--eerieBlack);
  text-decoration: none;
  margin-left: -50px;
  border-radius: 50px 20px 50px 20px;
  padding-bottom: 30px;
}

.feature .row {
  justify-content:center;
}

.feature h3{
  margin-inline-start: 5em;
  padding-top: 5vh;
  margin-bottom: 20px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 3px;
  font-size: .47em;
  font-weight: 300;
}
.feature h4{
 padding: 2px;
}
.feature .capa {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: .40em;
  font-weight: 300;
}
.feature capa::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}
.feature .num{
  width:2%;
}
.feature .col-4 {
  text-align:left;
  width: 33.33%;
}
.feature a:link {
  text-decoration: none;
 }
.feature.container {
  display: flex;
 }
 ul a {
  text-decoration: none;
  color:#d3d3d3;
 }
 .bullets li:hover {
   text-decoration: none;
 }
 .feature li {
   transition: all 1.5s ease-out;
   padding: 2px 0px 2px 0px;
 }

 .feature li:hover {
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  background: var(--grey);
  background-position: right bottom;
 }

 .active {
 transition: all 1s ease-in;
 -webkit-transition: all 1s ease-in;
 text-decoration: none;
 border-radius: 10px 10px 10px 10px;
 background: var(--grey);
 background-position: right bottom;
}

 .feature ul a:hover {  
  text-decoration: none;
  color:#eeeeee;
 }
 ul.bullets span {
  color: #6c6c6c;
  margin-left: 15px;
 }
 ul.bullets {
  height: 5em;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-style: italic;
  justify-content: left;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  font-size:.70em;
  list-style-type: none;
  padding-left: 1rem;
  margin-right: 1em;
}
ul.bullets .hidden {
    display:inline-flex;
    -webkit-transform:scale(.35, 1.7);
    transform: scale(.35, 1.7);
    margin: 0 4px 0 3px;
    color:#eaeaea;
    padding: 0;
    font-spacing: .1 px;
}

ul.bullets span{
  font-family: 'Playfair Display', 'Fanwood Text', serif;
  font-style: italic;
  padding: 0 .5em 0 0;
}
.image{height:0;padding-top:100%;background-size:contain !important;background-position:right bottom !important;background-repeat:no-repeat !important;margin-right:-30px;}@media (min-width:768px){.block-capabilities .slideshow .image{position:absolute;bottom:0;left:0;right:0;}}@media (min-width:1024px){.block-capabilities .slideshow .image{position:relative;bottom:auto;left:auto;width:auto;margin-right:-80px;margin-top:-100px;margin-right:-7%;}}@media (min-width:1200px){.block-capabilities .slideshow .image{position:relative;bottom:auto;left:auto;width:auto;margin-right:-80px;margin-top:-100px;}}@media (min-width:1400px){.block-capabilities .slideshow .image{margin-right:-180px;}}.block-capabilities-expertise{position:relative;background-color:#faf7f0;background-repeat:no-repeat !important;background-position:bottom left !important;overflow:hidden;}

.footer .container {
  max-width: 1320px;
  height: 2.5rem;
  bottom: 0;
}
.footerCerakotehref>img{
  max-height: 200px;
  max-width: 200px;
  float: center;
}
.line {
  content: '';
  padding-top: 3px;
  margin: 0 70px 0 70px;
  border-bottom: 0.07em solid #4f4e4e;
  top: 3%;
  bottom: 3%;
}
.first {
  display: table-cell;
  width: 30%;
}
/*fix for collapsed menu on small width protrait screens */
@media screen and (min-width:320px) and (max-width:896px) {
 nav.navbar {
  max-width: 400px;
 }
 .navbar-brand > img {
  margin: 0px 0px 0px 0px;
 }
.container-fluid.height.visiblebg {
  height: 25vh;
}
 .navbar-toggler {
    padding: auto;
 }
 .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 420;
  letter-spacing: 4px;
  font-size: .55em;
  padding: 0px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
 }
  .nav-link:after {
   position: absolute;
   color: var(--cutltured);
   content: "";
   width: 65%;
   height: 3px;
   top: 100%;
   left: 17%;
   background: var(--brightfuckingred);
   transition: transform 0.1s;
   transform: scaleX(0);
   transform-origin: top;
  }
  .nav-link:hover{
   text-decoration-color: var(--brightfuckingred);
   color: var(--cutltured);
  }

  .nav-link:hover::after {
   transform: scaleX(.20);
   transform-origin: bottom;
  }
  .navbar-nav {
   margin:auto;
  }
 .nav-icons {
    text-align: center;
  }
 .jumbotron .container-xxl, .jumbotron h1{
  padding-top: 65vh;
  max-width: 500px;
  color:var(--cutltured);
  font-family: 'Merriweather', serif;
  font-size: 1.35em;
  margin: auto;
 }
 .container-fluid h1, h2, p{
  opacity: 0;
 }
 .container-xxl h2{
  text-align: left !important;
 }
 .jumbotron h2 {
  font-size: 1.35em;
  text-align: left;
 }
.jumbotron p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  margin: auto;
  margin-bottom: 5vh;
 }
 #features {
  width: 100%;
  margin-top: 0;
}
.feature h3 {
  padding-top: 3vh;
}
.feature.container {
  flex: 1 1 auto;
}
.feature.card {
  width: 500px;
}
.feature.card h3{
  font-family: 'Roboto';
  letter-spacing: 2px;
  font-size: .35em;
  font-weight: 300;
}
.feature .list {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
.featurefbhref>img{
    max-height: 40px;
    max-width: 40px;
    float: center;
}
}
/*fix for screen sizes */
@media screen and (min-width: 775px) and (max-width:1100px) {
  nav.navbar {
    float: right;
    max-width: 90%;
   }
   .navbar-brand-text {
     font-size: 1.2em;
   }
   .nav-item {
    padding-top: 7px;
    font-size: 1em;
   }
   .navbar-collapse {
    flex-grow: unset;
   }
   .navbar-expand-md, .navbar-nav, .nav-link {
     padding: 0 5px 0 5px;
     margin: 0px 0px 0px 0px;
     margin-right: 0px;
   }
   .nav-icon{
     padding: 0px;
   }
   .jumbotron {
     padding-top: 3.8em;
     color: var(--cutltured);
     max-width: 920px;
   }
}


/*fix for screen sizes */
@media screen and (min-width:1100px) and (max-width:1300px) {
    nav.navbar {
     max-width: 1000px;
    }   
    .navbar-brand >img{
      float:left;
    }
    .navbar-brand.transparent {
      margin-right: 0em;
    }
    .navbar-brand-text{
    text-align: right;
    margin: 15px;
    }
    .navbar-text {
      float: right;
    }
    .nav-icon{
      padding: 0px;
    }
    div{
      position:relative;
    }
    .jumbotron {
      padding-top: 3.8=em;
      color: var(--cutltured);
      max-width: 920px;
    }
}
.arrows {
  content: ">>"
}
.push{
  transition: ease-in-out all .2s;
  padding-top: 202px;
  
}
.pushUp{
  transition: ease-in-out all .2s;
  padding-top: 0px;
}