<section class="block-timeline" id="section3">
    <div class="g-container">

        <div class="g-row navigation">
            <div class="g-col-11 g-col-offset-1">

                <div class="prev"><svg xmlns="http://www.w3.org/1990/svg" width="15.766" height="29.764"
                        viewBox="0 0 15.766 29.764">
                        <g id="Group_800" data-name="Group 800" transform="translate(0.884 0.884)">
                            <path id="Path_94" data-name="Path 94" d="M0,0,14,14,0,28"
                                transform="translate(13.998 27.996) rotate(180)" fill="none"
                                stroke="#bcb9b2" stroke-linecap="round" stroke-width="1.25" />
                        </g>
                    </svg></div>
<div class="next"><svg xmlns="http://www.w3.org/1990/svg" width="15.766" height="29.764"
                        viewBox="0 0 15.766 29.764">
                        <g id="Group_729" data-name="Group 729"
                            transform="translate(14.882 28.88) rotate(180)">
                            <path id="Path_94" data-name="Path 94" d="M0,0,14,14,0,28"
                                transform="translate(13.998 27.996) rotate(180)" fill="none"
                                stroke="#bcb9b2" stroke-linecap="round" stroke-width="1.25" />
                        </g>
                    </svg></div>
                <div class="table">
                    <div class="cell col1">
                        <div class="title">Our Story</div>
                    </div>
                    <div class="cell col2">
                        <div class="slides-dots-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="slide decade1960s slide1">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1960s-1-OpenforBusiness.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="1" class="slick-active"><span></span></li>
                                    <li data-slide="2"><span></span></li>
                                </ul>
                            </div>
                            <h2>Open for Business</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ullam assumenda est error tempore.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1960s slide2">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1960s-2-AmbitionAndIngenuity.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="1"><span></span></li>
                                    <li data-slide="2" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Ambition and Ingenuity</h2>
                            <div class="description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, et. &#8212; Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, distinctio.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide3">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-1-InitialExpansion.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="3" class="slick-active"><span></span></li>
                                    <li data-slide="4"><span></span></li>
                                    <li data-slide="5"><span></span></li>
                                </ul>
                            </div>
                            <h2>Initial Expansion</h2>
                            <div class="description">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Atque non cum ipsam ut velit, ad officiis aut sapiente amet 
                                        voluptates placeat repellendus dolorem provident.
                                    </p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide4">
                <div class="g-row">

                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-2-EmpoweringEntrepreneurship.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="3"><span></span></li>
                                    <li data-slide="4" class="slick-active"><span></span></li>
                                    <li data-slide="5"><span></span></li>
                                </ul>
                            </div>
                            <h2>lorem2</h2>
                            <div class="description">
                                <!-- <p>A unique profit-sharing commission model attracted pioneering packaging
                                    sales agents to service new local markets. It was an empowering model
                                    for its time that proved successful and remains in place today.</p> -->
                                    <p>Lorem, ipsum.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide5">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/03/STE-HistoryTimeline-1970s-3-ANewHomeinNewJersey.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="3"><span></span></li>
                                    <li data-slide="4"><span></span></li>
                                    <li data-slide="5" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At odio harum beatae doloribus? Debitis, numquam..</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="slide decade1980s slide6">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1980s-1-EasternSeaboardExpansion.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="6" class="slick-active"><span></span></li>
                                    <li data-slide="7"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consectetur tempora cupiditate quis, blanditiis commodi?</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1980s slide7">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1980s-2-RecruitingTalent.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="6"><span></span></li>
                                    <li data-slide="7" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sequi possimus sapiente, distinctio laborum officiis?</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide8">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-1-NewGenerationofLeaders.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="8" class="slick-active"><span></span></li>
                                    <li data-slide="9"><span></span></li>
                                    <li data-slide="10"><span></span></li>
                                    <li data-slide="11"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae error repellendus tempore, consectetur, obcaecati suscipit numquam qui, recusandae atque aliquid ducimus consequuntur vel maxime corporis quae voluptate? Cupiditate, modi adipisci!</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide9">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-2-CustomSolutions.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="8"><span></span></li>
                                    <li data-slide="9" class="slick-active"><span></span></li>
                                    <li data-slide="10"><span></span></li>
                                    <li data-slide="11"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, commodi.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide10">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-3-InnovatingElectronicsPackaging.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="8"><span></span></li>
                                    <li data-slide="9"><span></span></li>
                                    <li data-slide="10" class="slick-active"><span></span></li>
                                    <li data-slide="11"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem ipsum dolor sit.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure harum reiciendis?.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide11">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-4-AThrivingBusiness.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="8"><span></span></li>
                                    <li data-slide="9"><span></span></li>
                                    <li data-slide="10"><span></span></li>
                                    <li data-slide="11" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab laudantium, 
                                    dignissimos sequi labore sunt voluptas! Recusandae.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1980s slide12">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1980s-1-NewDecadeNewLeadership.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="12" class="slick-active"><span></span></li>
                                    <li data-slide="13"><span></span></li>
                                    <li data-slide="14"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat qui laboriosam ratione!
                                     Optio dolores fuga cum, excepturi consequuntur neque voluptatem ducimus laboriosam tempore.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1980 slide13">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1980-2-CoastToCoast.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="12"><span></span></li>
                                    <li data-slide="13" class="slick-active"><span></span></li>
                                    <li data-slide="14"><span></span></li>
                                </ul>
                            </div>
                            <h2>Global reach</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel sunt ullam ipsa aspernatur rerum!.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1980 slide14">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1980-3-PreparingForTheFuture.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="12"><span></span></li>
                                    <li data-slide="13"><span></span></li>
                                    <li data-slide="14" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias voluptas qui eos!
                                </p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide15">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1970s-1-InternationalPresence.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="15" class="slick-active"><span></span></li>
                                    <li data-slide="16"><span></span></li>
                                    <li data-slide="17"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque obcaecati distinctio provident iusto..</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide16">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/06/STE-HistoryTimeline-1970s-2-ExpandingServices@2x-700x700.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">

                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="15"><span></span></li>
                                    <li data-slide="16" class="slick-active"><span></span></li>
                                    <li data-slide="17"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem ipsam est laborum vero..</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1970s slide17">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/03/STE-HistoryTimeline-1970s-3-NewHeights.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">

                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="15"><span></span></li>
                                    <li data-slide="16"><span></span></li>
                                    <li data-slide="17" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <!-- <p>In 1991, annual revenue reached $100 million for the first time, fueled
                                    substantially by partnerships with consumer electronics clients. By the
                                    end of the decade, Coating Specialists exceeded $300 million in revenue.
                                    The number of clients grew into thousands. Professional proficiency was
                                    secured with addition of Lorem, ipsum.. as President and Lorem, ipsum. as
                                    the VP.</p> --> 
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Hic molestias quibusdam ab aliquam earum odit cupiditate non dolor saepe
                                    aut eligendi distinctio ullam totam quaerat necessitatibus laboriosam, 
                                    aliquid optio!</p>
                            </div>
                            <div class="notes">
                                <p>Lorem, ipsum.</p>
                                <ul>
                                    <!-- <li>$1M (1991)</li>
                                    <li>$10M (1996)</li>
                                    <li>$20M (1999)</li> -->
                                    <li>Lorem, ipsum.</li>
                                    <li>Lorem, ipsum.</li>
                                    <li>Lorem, ipsum.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1990s slide18">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1990s-1-DesignDrivesValue.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="18" class="slick-active"><span></span></li>
                                    <li data-slide="19"><span></span></li>
                                    <li data-slide="20"><span></span></li>
                                </ul>
                            </div>
                            <h2>Design Drives Value</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo laborum sunt?.</p>
                            </div>
                            <div class="notes">
                                <!-- <p>Revenue milestones:</p> -->
                                <p>Lorem, ipsum!</p>
                                <ul>
                                    <!-- <li>$20M (2006)</li> -->
                                    <li>Lorem, ipsum.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1990s slide19">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1990s-2-IdeatoImplementation.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="18"><span></span></li>
                                    <li data-slide="19" class="slick-active"><span></span></li>
                                    <li data-slide="20"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias est, quaerat ab debitis numquam vero ullam..</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade1990s slide20">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-1990s-3-BrainGain.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="18"><span></span></li>
                                    <li data-slide="19"><span></span></li>
                                    <li data-slide="20" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                    Commodi delectus dignissimos dolorum, veniam quos sunt 
                                    repellendus nisi cumque iusto quo, dolores qui error! Enim, dolor.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade2020s slide21">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-2020s-1-OneGlobalTeam.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="21" class="slick-active"><span></span></li>
                                    <li data-slide="22"><span></span></li>
                                    <li data-slide="23"><span></span></li>
                                </ul>
                            </div>
                            <h2>One Global Team</h2>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab delectus facere libero?</p>
                            </div>
                            <div class="notes">
                                <p>Lorem, ipsum dolor.</p>
                                <ul>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum.</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade2020s slide22">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-2020s-2-LeadershipDevelopment.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="21"><span></span></li>
                                    <li data-slide="22" class="slick-active"><span></span></li>
                                    <li data-slide="23"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum.</h2>
                            <div class="description">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem molestiae tempore sed..</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide decade2020s slide23">
                <div class="g-row">
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div><img
                                src="./uploads/2021/01/STE-HistoryTimeline-2020s-3-EverythingWithinReach.jpg"
                                alt=""></div>
                    </div>
                    <div class="g-col g-col-5 g-col-offset-1">
                        <div class="text">
                            <div class="slides-dots-container">
                                <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li data-slide="21"><span></span></li>
                                    <li data-slide="22"><span></span></li>
                                    <li data-slide="23" class="slick-active"><span></span></li>
                                </ul>
                            </div>
                            <h2>Lorem, ipsum dolor.</h2>
                            <div class="description">
                                <!-- <p>Decades of hard work and dedication to customers had forged a distinct
                                    company culture where values were put into action and above average
                                    employee tenures were the norm. Coating Specialists’s leadership dedicated
                                    time and resources toward codifying key principles and reimagining the
                                    way the company tells its story.</p> -->
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates rerum 
                                        ex est! Omnis excepturi ab officia commodi quas est debitis.</p>
                            </div>
                            <div class="notes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    @media (min-width: 768px) {
        #section3 .navigation .slides-dots-container li {
            width: 12.5%;
        }
    }
</style>
<script>
    jQuery(document).ready(function ($) {
        $('#section3 .timeline')
            .on('init', function (event, slick, currentSlide, nextSlide) {
                var decade = '';
                $('#section3 .navigation .slides-dots-container li').each(function () {
                    if ($(this).find('label').text() != '') {
                        decade = $(this).find('label').text();
                        $(this).addClass('decade');
                    } else {
                        $(this).addClass('none');
                    }
                    $(this).addClass('decade' + decade).attr("data-decade", decade);
                });
                $('#section3 .navigation li.decade').last().addClass('last');
            })
            .on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                var decade = $('#section3 .navigation .slick-dots li').eq(nextSlide).data('decade');
                $('#section3 .navigation .slick-dots')
                    .attr('class', 'slick-dots')
                    .addClass('active' + decade);
                $('#section3 .navigation .slick-dots li').removeClass('active');
                $('#section3 .navigation .slick-dots li.decade' + decade).addClass('active');
            })
            .slick({
                appendDots: '#section3 .navigation .slides-dots-container',
                arrows: false,
                dots: true,
                speed: 500,
                fade: true,
                adaptiveHeight: true,
                customPaging: function (slider, i) {
                    var year = new Array();
                    year[0] = "1960s"; year[1] = ""; year[2] = "1970s"; year[3] = ""; year[4] = ""; year[5] = "1980s"; year[6] = ""; year[7] = "1990s"; year[8] = ""; year[9] = ""; year[10] = ""; year[11] = "2000s"; year[12] = ""; year[13] = ""; year[14] = "2020s"; year[15] = ""; year[16] = ""; year[17] = "2020s"; year[18] = ""; year[19] = ""; year[20] = "Future"; year[21] = ""; year[22] = "";
                    return '<span></span><label>' + year[i] + '</label>';
                },
            });
        $(window).resize(function () {
            $('#section3 .timeline').slick('setPosition');;
            $('#section3 .timeline .innerslideshow').slick('setPosition');;
        });
        $("#section3 .prev").click(function (e) {
            e.preventDefault();
            $('#section3 .timeline').slick('slickPrev');
        });
        $("#section3 .next").click(function (e) {
            e.preventDefault();
            $('#section3 .timeline').slick('slickNext');
        });
        $("#section3 .timeline .slick-dots li").click(function (e) {
            var num = $(this).data('slide') - 1;
            $('#section3 .timeline').slick('slickGoTo', num);
        });
    });
</script>