<section class="block-split-spotlights" id="section4">
    <div class="g-container">

        <div class="g-row">
            <div class="g-col-6">

                <div class="outer" data-aos="fade">
                    <div class="inner">
                        <div class="link">
                            <a href="./contact.html" target="_self">Get Personalized Service <br>
                                <span></span></a>
                        </div>
                        <div class="description">
                            <!-- <p>Your local connection to enteprise level solutoins. Get personalized services
                                from
                                our team at our Lubbock location</p> -->
                                <p>Your local connection to enteprise level solutions. Get personalized services from our team at our Lubbock location</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="g-col-6">

                <div class="outer" data-aos="fade">
                    <div class="inner">
                        <div class="link">
                            <a href="https://www.worxpayroll.com/Payroll/Applicant/Postings.aspx?co=1139"
                                target="_self">Career Opportunities<span></span></a>
                        </div>
                        <div class="description">
                            <p>Our culture is driven by a commitment to identifying talent and empowering our team to grow from within.</p>
                            <!-- <p>Our culture is driven by a commitment to identifying talent and empowering
                                our team to grow from within.</p> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>