<style type="text/css">
    #section3.block-client-spotlight {
        background: url(./uploads/2021/06/STE-Home-ClientLogos-Mobile@2x.jpg) center center no-repeat;
    }

    @media (min-width: 768px) {
        #section3.block-client-spotlight {
            background: url(./uploads/2021/06/STE-Home-ClientLogos-Desktop@2x-1600x736.jpg) center center no-repeat;
        }
    }
</style>
<section class="block-client-spotlight" id="section3">
    <div class="g-container">
        <div class="g-center">
            <div class="g-inner">

                <div class="spotlight" data-aos="fade-up">
                    <!-- <p>Looking to protect your investment? Lubbock's top companies trust us when it matters
                        most.
                    </p> -->
                    <p>No job is too small or too big... Looking to protect your investment? Lubbock's top companies trust us when it matters most.</p>
                    <a href="./contact.html" target="_self" class="btn-cta btn-cta-light-blue">Contact Us.</a>
                </div>

            </div>
        </div>
    </div>
</section>