<section class="careers-cta">
    <div class="g-container">
        <div class="g-row g-row-height-equal">
            <div class="g-col col-align-bottom g-col-5 g-col-offset-1 left">
                <h1>Lorem, ipsum. <br />
                    Lorem, ipsum dolor.</h1>
            </div>
            <div class="g-col col-align-bottom g-col-4 g-col-offset-1 right">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <p><a href="./about.html"
                        target="_blank" rel="noopener" class="careers-button">Lorem ipsum dolor sit amet.</a>
                </p>
            </div>
        </div>
    </div>
</section>