            <section id="work-filters">
                <div class="g-container">
                    <div class="g-row">
                        <div class="g-col-6 g-col-offset-1 introduction">
                            <header>
                                <h1>
                                    <h1>Let’s go to work.</h1>
                                </h1>
                            </header>

                            <div class="description ">
                                <!-- <p>Catalysts. Clutch Performers. Secret Weapons. We’re the ones the world’s top
                                    companies call in to tackle the toughest challenges and create innovative,
                                    customized olutions. See how we’ve helped these clients achieve the improbable.</p> -->
                                    <p>At CSI, we pride ourselves in all the work we do. From large-scale industrial and comercial projects to smaller, personal, and retail coating needs, we have the skills and equipment to handle it all. Whether it be cerakote, hydrodipping, sandblasting, our team is dedicated to providing high-quality, durable finishes that meet your specific requirements.</p>
                            </div>
                        </div>
                        <div class="g-col-5 filters">
                            <header>Filters</header>
                            <ul>
                                <li><a href="/work.html" class="active">All</a></li>
                                <li><a href="/featured-work.html" class="">Featured Work</a></li>
                                <li class="capabilities">
                                    <a class="label " href="#">
                                        By Capability
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.65 7.71">
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_1-2" data-name="Layer 1">
                                                    <path
                                                        style="fill:none;stroke:#2571A2;stroke-linecap:round;stroke-width:1.25px;"
                                                        d="M13,.62,6.82,6.83.62.62" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul>
                                        <li><a href="/capability-retail-industrial-packaging.html">Retail &amp;
                                                Industrial Coating</a></li>
                                        <li><a href="/capability-product-marketing.html">Abrassive Blasting</a></li>
                                        <li><a href="/capability-design-services.html">Cerakote</a></li>
                                        <li><a href="/capability-manufacturing-production-management.html">Manufacturing</a></li>
                                        <li><a href="/capability-fulfillment-services.html">Hydrographics</a></li>
                                        <li><a href="/capability-inventory-management.html">Industrial Coatings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('#work-filters li.capabilities .label').click(function (e) {
                            e.preventDefault();
                            $(this).parent().toggleClass('focus');
                        });
                    });	
                </script>
            </section>