<section id="home-banner" style="">

    <div class="video">
        <video muted loop playsinline autoplay id="bgvideo" width="100" height="100">
            <source src="./video/csicrop.mp4" type="video/mp4">
        </video>
    </div>

    <div class="g-center">
        <div class="g-inner">


            <div class="g-container">

                <div class="g-row">
                    <div class="g-col-12">
                        <h1>
                            <div class="row1">Industrial grade solutions</div>
                        </h1>
                    </div>
                </div>
                <div class="g-row">
                    <div class="g-col-10 g-col-offset-1">
                        <h1>
                            <div class="row2">For any range application.</div>
                        </h1>
                    </div>
                </div>

                <div class="g-row">
                    <div class="g-col-10 g-col-offset-1">
                        <div class="description">
                            <span class="line"></span>
                            <div class="text">
                                <div>We provide industrial grade coating solutions from sand blasting, to
                                    ceramic/cerakoting for any size project.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<script>
    jQuery(document).ready(function ($) {

        jQuery('#home-banner .row1').delay(3500).fadeTo(500, 1);
        jQuery('#home-banner .row2').delay(4750).fadeTo(500, 1);
        jQuery('#home-banner .line').delay(5500).fadeTo(500, 1);
        jQuery('#home-banner .description .text').delay(6500).fadeTo(500, 1);

    });
</script>