<header id="site-header" class="light">
    <div class="g-container">
        <a href="./index.html" class="logo light"><img
                src="./images/Coating Specialists_NoBG.svg"></a>
        <a href="./index2.html" class="logo dark"><img
                src="./images/Coating Specialists_NoBG.svg"></a>
        <div id="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li id="nav-item-16"
                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-16"><a
                        href="./work.html">Work</a></li>
                <li id="nav-item-17"
                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-17"><a
                        href="./services.html">Services</a></li>
                <li id="nav-item-18"
                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-18"><a
                        href="./about.html">About</a></li>
                <li id="nav-item-19"
                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-19"><a
                        href="/contact.html">Contact</a></li>
                <li id="nav-item-3615"
                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-3615"><a
                        href="./faqs.html">FAQs</a></li>

                <li id="menu-search"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15.207"
                            height="15.207" viewBox="0 0 15.207 15.207">
                            <g transform="translate(-608 -44)">
                                <circle cx="5.5" cy="5.5" r="5.5" transform="translate(609 45)" fill="none"
                                    stroke="#ffffff" stroke-width="2" />
                                <line x2="4" y2="4" transform="translate(618.5 54.5)" fill="none"
                                    stroke="#ffffff" stroke-width="2" />
                            </g>
                        </svg></a></li>
            </ul>
            <div id="site-search">
                <form method="get" action="./" class="mobile">
                    <input name="s" type="search" placeholder="Search" value="" class="text">
                    <button type="submit" class="submit"><svg xmlns="http://www.w3.org/2000/svg" width="15.207"
                            height="15.207" viewBox="0 0 15.207 15.207">
                            <g transform="translate(-608 -44)">
                                <circle cx="5.5" cy="5.5" r="5.5" transform="translate(609 45)" fill="none"
                                    stroke="#ffffff" stroke-width="2" />
                                <line x2="4" y2="4" transform="translate(618.5 54.5)" fill="none"
                                    stroke="#ffffff" stroke-width="2" />
                            </g>
                        </svg></button>
                </form>
                <form method="get" action="./" class="desktop">
                    <div class="bg"></div>
                    <input name="s" type="search" placeholder="Search term" value="" class="text">
                    <button type="submit" class="submit" value="Search">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>