<footer id="site-footer">
    <div class="g-container">

        <div class="g-row copyright desktop">
            <div class="g-col">
                <a href="./"><img src="./images/CSI_R.svg" alt="Coating Specialists"></a>
                &copy; 2023 Coating Specialists
            </div>
        </div>
        <nav class="g-row nav">
            <div class="g-col right">
                <ul id="menu-footer-right" class="menu">
                    <li id="nav-item-2941" class="nav-item nav-item-type-custom nav-item-object-custom nav-item-2941"><a
                            href="./about.html#section3">Our Story</a></li>
                    <li id="nav-item-22" class="nav-item nav-item-type-post_type nav-item-object-page nav-item-22"><a
                            href="./newsroom.html">Social Media</a></li>
                    <li id="nav-item-23" class="nav-item nav-item-type-post_type nav-item-object-page nav-item-23"><a
                            href="./faqs.html">FAQs</a></li>
                    <li id="nav-item-20" class="nav-item nav-item-type-post_type nav-item-object-page nav-item-20"><a
                            href="./contact.html"">Contact</a></li>
                </ul>
            </div>
            <div class=" g-col left">
                            <ul id="menu-footer-left" class="menu">
                                <li id="nav-item-24"
                                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-24">
                                    <a href="./terms.html">Terms of Use</a>
                                </li>
                                <li id="nav-item-25"
                                    class="nav-item nav-item-type-post_type nav-item-object-page nav-item-privacy-policy nav-item-25">
                                    <a href="./privacy.html">Privacy
                                        Policy</a>
                                </li>
                            </ul>
            </div>
        </nav>
        <div class="g-row copyright mobile">
            <div class="g-col">
                <a href="https://www.coatingspecialists.com"><img src="./images/CSI_R.svg"
                        alt="Coating Specialists"></a>
                <div>&copy; 2023 Coating Specialists</div>
            </div>
        </div>
    </div>
</footer>